#container{
    width: 80%;
    height: 100%;
    margin: auto;
    background: url("../images/business.jpg") no-repeat center;
    background-size: 200em;
}

#roundedButton{
    position: absolute;
    bottom: 15%;
    border-radius: 1em;
    right: 15%;
    height: 8%;
}

#addMore{
    position: absolute;
    bottom: 25%;
    border-radius: .5em;
    right: 8%;
    height: 8%;
    width: 10%;
}